@model StoneDesafio.Models.Resultado

@{
    ViewData["Title"] = "Editar Resultado";
}

<h1>Editar Resultado</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div class="form-group" style="visibility:hidden">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GolsClubeA" class="control-label"></label>
                <input asp-for="GolsClubeA" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GolsClubeB" class="control-label"></label>
                <input asp-for="GolsClubeB" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FimJogo" class="control-label"></label>
                <input asp-for="FimJogo" class="form-control" />
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr>
<br>

<div>
    <a asp-action="Index">Voltar</a>
</div>

