@using StoneDesafio.Enum
@model StoneDesafio.Models.FaseCampeonato

@{
    var listaJogos = (List<Jogo>)ViewData["ListaJogos"];
}

<h1>Criar Fase</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="criar">
            <div class="form-group">
                <label asp-for="FaseAtualCampeonato" class="control-label">Fase</label>
                @Html.ValidationMessageFor(model => model.FaseAtualCampeonato, "", new { @class = "text-danger" })
                @Html.DropDownListFor(
                model => model.FaseAtualCampeonato,
                Html.GetEnumSelectList<FasesCampeonato>(),
                "Selecione...")
            </div>
            <br>
            <div class="form-group mt-2">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<hr>
<br>
<div>
    <a asp-action="Index">Voltar</a>
</div>
