@model List<StoneDesafio.Models.Grupo>

@{
    ViewData["Title"] = "Listagem de Grupos";
}

<h2 class="text-center">Grupos</h2>
<section class="section-mother" id="curiosidades"></section>
<div class="image-container">
    @foreach (var grupo in Model)
    {
        <section class="image-ms">
            <a id="deletar" class="btn btn-close btn-danger p-3 bg-danger position-absolute bo" asp-action="Deletar" asp-route-id="@grupo.Id" style="margin-right: 253px; border-top-left-radius: 20px"></a>
            <img src="https://tse1.mm.bing.net/th?id=OIP.PUiHY4RkX9OmqRn3-4kn5wHaEK&pid=Api&P=0" @*grupo.UrlFoto"*@ alt="">
            <h3 class="grupo"> @grupo.Nome </h3>
            @foreach (var clube in grupo.Clubes)
            {
                <p> clube.Nome </p>
            }
            
            <div class="d-flex mb-2 gap-1">
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@grupo.Id">Editar</a>
            </div>
        </section>
    }
</div>
<a class="btn btn-success" asp-action="Criar">Novo Grupo</a>
<script>
    function Deletar(e) {
        console.log(e);
        let excluir = confirm("Tem certeza que deseja excluir?");
        if (!excluir) e.preventDefault();
    }

    document.querySelectorAll("#deletar").forEach(element => element.addEventListener("click", Deletar));
</script>
