namespace StoneDesafio.Views.Jogo
{
    public class IndexJogo
    {
        <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorteio jogos </title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="icon" href="https://midias.correiobraziliense.com.br/_midias/jpg/2022/04/01/766x527/1_mascote_copa_do_mundo_catar-7685385.jpeg">
</head>

<body>
    <header class="start">
        <div class="start1">
            <img class="image1"
                src="https://http2.mlstatic.com/bola-futebol-classica-retro-D_NQ_NP_760968-MLB31738607823_082019-F.jpg"
                alt="bandeira">
            <h1 class="copa">Copa do Mundo 2022</h1>
        </div>
        </header>
    <main>
            <section class="section-mother" id="curiosidades"></section>
            <h2 class="curiosity"> Sorteios dos Jogos  </h2>
            <div class="image-container">
                <section class="image-ms"> <img src="https://tse1.mm.bing.net/th?id=OIP.PUiHY4RkX9OmqRn3-4kn5wHaEK&pid=Api&P=0" alt="">
                    <h3 class ="grupo"> Grupo A </h3>
                    <p> Alemanha</p>
                    <p> X </p>
                    <p> Brasil</p>
                    <p> ---------------------------------------------</p>
                    <p> Portugal</p>
                    <p> X </p>
                    <p> França</p>
                </section>
                <section class="image-ms"> <img src="https://tse3.mm.bing.net/th?id=OIP.UiBwB1-lpZP6uVjY6UCc3AHaE8&pid=Api&P=0" alt="">
                    <h3 class="grupo"> Grupo B </h3>
                    <p> Polonia </p>
                    <p> X </p>
                    <p> Italia </p>
                    <p> ---------------------------------------------</p>
                    <p> Egito </p>
                    <p> X </p>
                    <p> Inglaterra </p>
                </section>
                <section class="image-ms"> <img src="https://tse1.mm.bing.net/th?id=OIP.U9PdLTSSdL8zBfL9HTmb4wHaE7&pid=Api&P=0" alt="">
                    <h3 class="grupo"> Grupo C </h3>
                    <p> Estados Unidos </p>
                    <p> X </p>
                    <p> Uruguai </p>
                    <p> ---------------------------------------------</p>
                    <p> Argentina </p>
                    <p> X </p>
                    <p> Holanda </p>                   
                </section>
                <section class="image-ms"> <img src="https://i.pinimg.com/736x/dd/74/e4/dd74e4cfc114acde909d20af9eab8c7a.jpg" alt="">
                    <h3 class="grupo"> Grupo D </h3>
                    <p> Austrália </p>
                    <p> X </p>
                    <p> Japão </p>
                    <p> ---------------------------------------------</p>
                    <p> Coréia do Sul </p>
                    <p> X </p>
                    <p> México </p>
                </section>
                <section class="image-ms"> <img src="https://tse1.mm.bing.net/th?id=OIP.VAyexOXAa_5JFvJPcdzEBQHaDt&pid=Api&P=0" alt="">
                    <h3 class="grupo"> Grupo E </h3>
                    <p> Colômbia </p>
                    <p> X </p>
                    <p> Finlância </p>
                    <p> ---------------------------------------------</p>
                    <p> Croácia </p>
                    <p> X </p>
                    <p> Grécia </p>
                </section>
                <section class="image-ms"> <img src="http://cdn.shopify.com/s/files/1/1008/8768/products/simple-fashion1355038-soccer-stadium-mural2_1024x1024.jpg?v=1614824838" alt="">
                    <h3 class="grupo"> Grupo F </h3>
                    <p> Suiça </p>
                    <p> X </p>
                    <p> Nigéria </p>
                    <p> ---------------------------------------------</p>
                    <p> África do Sul </p>
                    <p> X </p>
                    <p> Russia </p>
                </section>
            </div>
            
        
   </main>

</body>

</html>

    }
}
